@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
}

.app-container {
  width: 90%;
  max-width: 400px;
  display: none;
}

.isActive {
  display: block;
}

.center-text {
  text-align: center;
}

.welcome-section {
  width: 50%;
  background-color: #4a4a4a;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
  position: relative;
}

.welcome-content {
  text-align: center;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.start-button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.start-button:hover {
  background: #0056b3;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.question-container {
  animation: fadeIn 0.5s ease-in-out;
}

.computer-science,
.computer-games {
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.computer-science {
  background-color: #e0f7fa;
  border-left: 5px solid #007bff;
}

.computer-science:hover {
  background-color: #b0bec5;
  transform: scale(1.05);
}

.computer-games {
  background-color: #d1e7dd;
  border-left: 5px solid #28a745;
}

.computer-games:hover {
  background-color: #dc3545;
  transform: scale(1.05);
}

.greetings-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.greetings-headline {
  color: #007bff;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.greetings-paragraph {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}

.slide-up {
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

.slide-up.hidden {
  transform: translateY(-20px);
  opacity: 0;
}

.quiz-point-counter {
  position: absolute;
  top: -3rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #210000ca;
  max-width: max-content;
  padding: 5px 10px;
  border: 0.5px solid black;
  border-radius: 15px;
}

.quiz-window {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  background-color: grey;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: 0 0 0 25px;
}

.quiz-question {
  text-align: center;
  margin: 10px 0 10px;
  padding: 5px;
}

.quiz-choice {
  width: 95%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 0.5px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.quiz-choice:hover {
  background-color: #b4b4b496;
}

.quiz-right {
  width: 100%;
  background-color: green;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.303);
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

.correct-answer {
  border: 2px solid green;
}

.not-correct-answer {
  border: 2px solid red;
}

.finish-headline {
  text-align: center;
}

.start-again-button,
.leave-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
}

.start-again-button {
  background-color: greenyellow;
}

.leave-button {
  background-color: grey;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e2e2e2;
}

.option {
  position: relative;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.option:hover {
  background-color: #f0f0f0;
}

.option::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.option:hover::after {
  opacity: 1;
}

/* Media Queries for Larger Screens */
@media (max-width: 768px) {
  .app-container {
    width: 70%;
  }

  .start-button,
  .computer-science,
  .computer-games,
  .start-again-button,
  .leave-button {
    max-width: 100%;
  }

  .welcome-section {
    width: 85%;
  }

  .welcome-section article {
    font-size: 2rem;
  }

  .greetings-headline {
    font-size: 1.5rem;
  }

  .greetings-paragraph {
    font-size: 1.5rem;
  }

  .quiz-window {
    grid-template-columns: 1fr 1fr;
  }

  .quiz-choice {
    width: 100%;
  }
}
