@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

body {
  background-color: rgb(37, 37, 37);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.app-container {
  width: 90%;
  /* border: 0.5px solid white; */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  display: none;
}

.start-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-category-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  background-color: #282c34;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & h3 {
    margin: 0 0 5px;
    width: 100%;
    text-align: start;
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  & button {
    font-size: 1rem;
  }
}

.select-category-wrapper {
  width: 100%;
}

.select-category-wrapper::after {
  content: "▼";
  position: absolute;
  top: 4.1rem;
  right: 1.6rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: #3498db;
}

#categorySelect {
  appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0.5px solid #007bff;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0 0 20px;
  & option {
    padding: 10px;
  }
}

#categorySelect:focus {
  border-color: #0056b3;
}

.no-questions-message {
  margin: 10px 0 0;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1px;
  color: white;
}

.isActive {
  display: block;
}

.center-text {
  text-align: center;
}

.welcome-section {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 50%;
  background-color: #282c34;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
  position: relative;
}

.welcome-section.active {
  opacity: 1;
  transform: translateY(0);
}

.welcome-content {
  text-align: center;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.start-button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.start-button:hover {
  background: #0056b3;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.question-container {
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
  color: white;
  background-color: #2b3240;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: transform 0.3s;
  & ul {
    & li {
      background-color: #2b3240;
      color: white;
    }
  }
  & h2 {
    font-size: 1.2rem;
    position: relative;
    margin: 40px 0px 20px;
  }
  & h3 {
    font-size: 1.2rem;
    margin: 0 0 25px;
  }
}

.question-number::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: white;
  top: -1rem;
}

.computer-science,
.computer-games {
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.computer-science {
  background-color: #e0f7fa;
  border-left: 5px solid #007bff;
}

.computer-science:hover {
  background-color: #b0bec5;
  transform: scale(1.05);
}

.computer-games {
  background-color: #d1e7dd;
  border-left: 5px solid #28a745;
}

.computer-games:hover {
  background-color: #dc3545;
  transform: scale(1.05);
}

.greetings-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.greetings-headline {
  color: #007bff;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.greetings-paragraph {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}

.slide-up {
  transform: translateY(0);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 1;
}

.slide-up.hidden {
  transform: translateY(-20px);
  opacity: 0;
}

.quiz-point-counter {
  position: absolute;
  top: -3rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #210000ca;
  max-width: max-content;
  padding: 5px 10px;
  border: 0.5px solid black;
  border-radius: 15px;
}

.quiz-window {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  background-color: grey;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin: 0 0 0 25px;
}

.timer-box {
  border: 0.1px solid grey;
  border-radius: 10px;
  height: 1.5rem;
  position: relative;
  box-sizing: border-box;
  margin: 15px 0 0;
}
.timer-bar {
  height: 1.5rem;
  background: #007bff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.total-score {
  max-width: 100px;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 10px auto;
}

.quiz-question {
  text-align: center;
  margin: 10px 0 10px;
  padding: 5px;
}

.quiz-choice {
  width: 95%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: 0.5px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.quiz-choice:hover {
  background-color: #b4b4b496;
}

.quiz-right {
  width: 100%;
  background-color: green;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.303);
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

.correct-answer-message {
  text-align: center;
  max-width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 5px;
  /* opacity: 0; */
}

.next-question-button {
  background-color: #007bff;
  color: white;
  height: max-content;
  border: none;
  border-radius: 8px;
  min-width: 75px;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: rgb(100, 100, 100);
  }
}

.next-question-button:focus {
  outline: none;
}

.bottom-box-question {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.finish-headline {
  text-align: center;
}

.start-again-button,
.leave-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
}

.start-again-button {
  background-color: greenyellow;
}

.leave-button {
  font-size: 1.4rem;
  background-color: grey;
  cursor: pointer;
  transition: 0.7s;
}

.leave-button:hover {
  background-color: #0056b3;
  transition: 0.7s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.stop-quiz-container {
  background-color: #282c34;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 20px auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-around;
}

.stop-quiz-container h3 {
  font-size: 1.5rem;
}

.stop-quiz-box-button {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  height: 150px;
  justify-content: space-around;
}

.stop-quiz-container button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  transition: background-color 0.3s ease;
  width: 40%;
}

.stop-quiz-container button:hover {
  background-color: #21a1f1;
}

.option {
  position: relative;
  cursor: pointer;
  padding: 1rem 1.25rem;
  margin: 0.625rem 0;
  background-color: #ffffff;
  border: 0.125rem solid #ddd;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.option:hover {
  background-color: #496a6e;
}

.option.correct-answer {
  /* background-color: #c8e6c9;  */
  border-color: #4caf50;
  color: #4caf50;
  border-radius: 15px;
}

.option.not-correct-answer {
  /* background-color: #c3999d; */
  border-color: #f44336;
  color: red;
  border-radius: 15px;
}

.option.clicked {
  opacity: 0.8;
}

.input-quiz-name {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  margin: 0 0 5px;
}

.input-quiz-name:focus {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.score-board-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  background-color: #282c34;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.8s forwards;
}

.score-board-container.fade-out {
  animation: fadeOut 0.8s forwards;
}

.score-board-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

.score-board-container h2::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 3.5rem;
  left: 0;
  height: 1px;
  background-color: #007bff;
}

table {
  max-width: 100%;
  width: auto;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

thead th {
  width: 30%;
  word-wrap: break-word;
  color: white;
  font-size: 1.1rem;
  padding: 12px;
}

tbody td {
  width: 30%;
  word-wrap: break-word;
  padding: 15px;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;
}

tbody td:first-child {
  font-weight: bolder;
  max-width: max-content;
  padding: 0 10px;
}

tbody tr:nth-child(odd) {
  max-width: max-content;
  color: #ffffff;
  background-color: #007bff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  transition: 0.7s;
}

tbody tr:hover {
  background-color: #e2e2e2;
  color: black;
  transition: background-color 0.3s ease;
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }
  .app-container {
    width: 100%;
    padding: 5px;
  }

  .select-category-container {
    width: 100%;
    padding: 5px;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
  }

  .select-category-wrapper::after {
    top: 3.5rem;
    right: 1rem;
  }

  .start-button,
  .computer-science,
  .computer-games,
  .start-again-button,
  .leave-button {
    max-width: 100%;
  }

  .welcome-section {
    width: 85%;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
  }

  .welcome-section article {
    font-size: 2rem;
  }

  .greetings-headline {
    font-size: 1.5rem;
  }

  .greetings-paragraph {
    font-size: 1.5rem;
  }

  .quiz-window {
    grid-template-columns: 1fr 1fr;
  }

  .quiz-choice {
    width: 100%;
  }
  .score-board-container {
    background-color: rgb(37, 37, 37);
  }
  .stop-quiz-container {
    width: 100%;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
    height: 60vh;
  }
  .stop-quiz-container h3 {
    font-size: 1.3rem;
  }
  .input-quiz-name {
    width: 70%;
    margin: 0 0 25px;
  }
  .stop-quiz-container button {
    width: 75%;
  }
}
