/* 4k */
@media (max-width: 2560px) {
  .app-container {
    max-width: 1440px;
  }
  .welcome-section {
    max-width: 1440px;
  }
  .welcome-title {
    font-size: 3rem;
  }
  .welcome-description {
    font-size: 2rem;
  }
  .start-wrapper .start-button {
    font-size: 2rem;
  }
  .select-category-container {
    max-width: 1440px;
  }
  .select-headline {
    font-size: 4rem;
  }
  .select-category-wrapper::after {
    top: 9rem;
    right: 2rem;
    font-size: 2rem;
  }
  .start-button {
    font-size: 2.5rem;
    padding: 5px 25px;
  }
  #categorySelect {
    font-size: 2rem;
  }
  .question-container {
    width: 768px;
    max-width: 1440px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.042);
  }
  .total-score {
    font-size: 1.5rem;
    padding: 10px;
    max-width: max-content;
  }
  .question-container h3 {
    font-size: 2rem;
  }
  .question-container ul {
    max-width: 100%;
    & li {
      font-size: 1.5rem;
    }
  }
  .question-number {
    font-size: 1.5rem;
  }
  .bottom-box-question,
  .next-question-button,
  .timer {
    font-size: 1.5rem;
  }
  .next-question-button {
    padding: 5px 20px;
  }
  .correct-answer-message {
    font-size: 2rem;
  }
  .timer-box,
  .timer-bar {
    height: 2rem;
  }
  .stop-quiz-container {
    width: 768px;
    max-width: 1440px;
  }
  .stop-quiz-container h3 {
    font-size: 2.5rem;
  }
  .stop-quiz-box-button {
    width: 100%;
    gap: 20px;
    height: auto;
  }
  .input-quiz-name {
    width: 50%;
    padding: 10px;
    font-size: 1.7rem;
  }
  .stop-quiz-box-button .save-results-button {
    font-size: 2rem;
    padding: 5px 20px;
  }
  .stop-quiz-box-button .leave-button {
    font-size: 1.5rem;
  }
  .stop-quiz-container p {
    font-size: 2rem;
  }
  .score-board-container {
    min-width: 1440px;
    max-height: 60vh;
  }
  .score-board-container table {
    width: 100%;
    max-width: 1440px;
  }
  .score-board-container thead tr th {
    font-size: 2rem;
  }
  .score-board-headline {
    font-size: 3rem;
  }
  #score-tbody tr > td {
    font-size: 2rem;
  }
  .app-container .leave-button {
    font-size: 2rem;
  }
}

/* L laptop */
@media (max-width: 1440px) {
  .app-container {
    max-width: 1024px;
  }
  .welcome-section {
    max-width: 768px;
  }
  .welcome-title {
    font-size: 2.5rem;
  }
  .welcome-description {
    font-size: 1.8rem;
  }
  .start-wrapper .start-button {
    font-size: 1.8rem;
  }
  .select-category-container {
    max-width: 1024px;
  }
  .select-headline {
    font-size: 2rem;
  }
  .select-category-wrapper::after {
    top: 5.8rem;
    right: 2rem;
    font-size: 1.2rem;
  }
  #categorySelect {
    font-size: 1.2rem;
  }
  .start-button {
    font-size: 1.5rem;
    padding: 5px 20px;
  }
  .question-container {
    width: 768px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.042);
  }
  .total-score {
    font-size: 1.2rem;
    padding: 10px;
    max-width: max-content;
  }
  .question-container h3 {
    font-size: 1.5rem;
  }
  .question-container ul {
    max-width: 100%;
    & li {
      font-size: 1.4rem;
    }
  }
  .question-number {
    font-size: 1.5rem;
  }
  .bottom-box-question,
  .next-question-button,
  .timer {
    font-size: 1.2rem;
  }
  .next-question-button {
    padding: 5px 20px;
  }
  .correct-answer-message {
    font-size: 1.5rem;
  }
  .timer-box,
  .timer-bar {
    height: 2rem;
  }
  .stop-quiz-container {
    max-width: 768px;
  }
  .stop-quiz-container h3 {
    font-size: 1.8rem;
  }
  .stop-quiz-box-button {
    width: 100%;
    gap: 20px;
    height: auto;
  }
  .input-quiz-name {
    width: 50%;
    padding: 10px;
    font-size: 1.5rem;
  }
  .stop-quiz-box-button .save-results-button {
    font-size: 1.5rem;
    padding: 5px 20px;
  }
  .stop-quiz-box-button .leave-button {
    font-size: 1.5rem;
  }
  .stop-quiz-container p {
    font-size: 2rem;
  }
  .score-board-container {
    min-width: 768px;
    max-height: 50vh;
  }
  .score-board-container table {
    width: 100%;
    max-width: 768px;
  }
  .score-board-container thead tr th {
    font-size: 1.5rem;
  }
  .score-board-headline {
    font-size: 2.5rem;
  }
  #score-tbody tr > td {
    font-size: 1.5rem;
  }
  .app-container .leave-button {
    font-size: 2rem;
  }
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }
  .app-container {
    width: 100%;
    padding: 5px;
  }

  .select-category-container {
    width: 100%;
    padding: 5px;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
  }

  .select-category-wrapper::after {
    top: 3.5rem;
    right: 1rem;
  }

  .start-button,
  .computer-science,
  .computer-games,
  .start-again-button,
  .leave-button {
    max-width: 100%;
  }

  .welcome-section {
    width: 85%;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
  }

  .welcome-section article {
    font-size: 2rem;
  }

  .greetings-headline {
    font-size: 1.5rem;
  }

  .greetings-paragraph {
    font-size: 1.5rem;
  }

  .quiz-window {
    grid-template-columns: 1fr 1fr;
  }

  .quiz-choice {
    width: 100%;
  }
  .score-board-container {
    background-color: rgb(37, 37, 37);
  }
  .stop-quiz-container {
    width: 100%;
    background-color: rgb(37, 37, 37);
    box-shadow: none;
    height: 60vh;
  }
  .stop-quiz-container h3 {
    font-size: 1.3rem;
  }
  .input-quiz-name {
    width: 70%;
    margin: 0 0 25px;
  }
  .stop-quiz-container button {
    width: 75%;
  }
}
